h1 {
    color: #c3e7ff;
    text-align: center;
    padding: 10px;
}
.donatebox {
    background-color: #003f54;
    border-radius: 8px;
    border-color: #c3e7ff;
    border-width: 3px;
    border-style: solid;
}
.donationmodal{
    display: flex;
    justify-content: center;
    color:  #c3e7ff;
    padding-bottom: 15px;
    font-size: 30px;

}