.container {
    color: #c3e7ff !important;
    padding-bottom: 150px !important;
}
.text-center {
    color: #c3e7ff !important;
}
.description {
    color: #c3e7ff !important;
}
.intro {
    color: #c3e7ff !important;
}
.intro h2 {
    color: rgb(240, 217, 90) !important;
}
.intro p {
    color: rgb(240, 217, 90) !important;
}