.header {
    width: 100% !important;
    max-width: 100% !important;
    padding-left: 0px !important;
    position: fixed !important;
    top: 0px !important;
    opacity: 90% !important;
    z-index: 2 !important;
}
.button1 {
    padding-right: 10px !important;
}
.button2 {
    padding-right: 10px !important;
}